.backclair{
	color: black!important;
	font-weight: bold!important;
}


.backfoncebold{
	color: white!important;
	font-weight: bold!important;
}

@media(max-width: 767px){
	.img-responsive{
		display: initial!important;
	}
}
.row {
	max-width: 100vw;
	margin: auto;
}

